img {
  width: 20%;
  height: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 50vh 50vh 50vh 50vh;
  grid-template-rows: 50vh 50vh 50vh 50vh;
}

.title{
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 4;
  width: 100%;
}